# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.MSALAuth.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Dev\C#\MSALAuth\.idea\.idea.MSALAuth\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
